<div class="sidebar" data-color="pink" data-active-color="danger" >
  <div class="logo">
    <a href="" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../../../assets/img/aa.jpg">
      </div>

    </a>
    <a href="" class="simple-text logo-normal fw-bold fs-5">
      Green Journeys
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active ">
        <a [routerLink]="['/home']">
          <i class="nc-icon nc-bookmark-2"></i>
          <p class="fs-7 fw-bolder">Home</p>
        </a>
      </li>
      <li class="active ">
        <a href="back">
          <i class="nc-icon nc-bookmark-2"></i>
          <p class="fs-7 fw-bolder">Dashboard</p>
        </a>
      </li>
      <li>
        <a [routerLink]="['/page1']">
          <i class="nc-icon nc-simple-add"></i>
          <p class="fs-7 fw-bolder">Accomodations</p>
        </a>
      </li>
      <li>
        <a [routerLink]="['/page2']">
          <i class="nc-icon nc-delivery-fast"></i>
          <p class="fs-7 fw-bolder">Bookings</p>
        </a>
      </li>
      <li>
        <a [routerLink]="['/rooms']">
          <i class="nc-icon nc-shop"></i>
          <p class="fs-7 fw-bolder">Rooms</p>
        </a>
      </li>
      <li>
        <a href="listProduct">
          <i class="nc-icon nc-shop"></i>
          <p class="fs-7 fw-bolder">Products</p>
        </a>
      </li>
      <li>
        <a href="listCourse">
          <i class="nc-icon nc-shop"></i>
          <p class="fs-7 fw-bolder">Courses</p>
        </a>
      </li>
      <li>
        <a href="listUsers">
          <i class="nc-icon nc-single-02"></i>
          <p class="fs-7 fw-bolder">User Profile</p>
        </a>
      </li>
      <li>
        <a href="event">
          <i class="nc-icon nc-single-02"></i>
          <p class="fs-7 fw-bolder">Events</p>
        </a>
      </li>
      <li>
        <a href="transport">
          <i class="nc-icon nc-single-02"></i>
          <p class="fs-7 fw-bolder">Transports</p>
        </a>
      </li>
    </ul>
  </div>
</div>
